<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--title-->
    <title>Forget Password</title>

	<!--favicon icon-->
    <link rel="icon" href="asset/assets/logo/favicon.png" type="image/png">

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7COpen+Sans:400,600&amp;display=swap"
          rel="stylesheet">

    <!--Bootstrap css-->
    <link rel="stylesheet" href="asset/assets/user/css/bootstrap.min.css">
    <!--Magnific popup css-->
    <link rel="stylesheet" href="asset/assets/user/css/magnific-popup.css">
    <!--Themify icon css-->
    <link rel="stylesheet" href="asset/assets/user/css/themify-icons.css">
    <!--Fontawesome icon css-->
    <link rel="stylesheet" href="asset/assets/user/css/all.min.css">
    <!--animated css-->
    <link rel="stylesheet" href="asset/assets/user/css/animate.min.css">
    <!--ytplayer css-->
    <link rel="stylesheet" href="asset/assets/user/css/jquery.mb.YTPlayer.min.css">
    <!--Owl carousel css-->
    <link rel="stylesheet" href="asset/assets/user/css/owl.carousel.min.css">
    <link rel="stylesheet" href="asset/assets/user/css/owl.theme.default.min.css">
    <!--custom css-->
    <link rel="stylesheet" href="asset/assets/user/css/style.css">
    <!--responsive css-->
    <link rel="stylesheet" href="asset/assets/user/css/responsive.css">

</head>
<body>

<!--loader start-->
<div id="preloader">
    <div class="loader1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!--loader end-->

<!--body content wrap start-->
<div class="main">

    <!--hero section start-->
    <section class="hero-section full-screen gray-light-bg">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
                    <!-- Image -->
                    <div class="bg-cover vh-100 ml-n3 bg-dark bg-gradient" style="background-image: url(asset/assets/logo/bg.jpg);">
                        <div class="position-absolute login-signup-content">
                            <div class="position-relative text-white col-md-12 col-lg-7">
                                <h2 class="text-white">Send Email to Reset Password</h2>
                                <p>Reset Password to your LMS account if you forget it and start reading books. It's 100% FREE, NO CREDIT/DEBIT card required and only takes a minute.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6">
                    <div class="login-signup-wrap px-4 px-lg-5">
                        <!-- Subheading -->
                        <div class="d-flex justify-content-center">
                            <a href="/"><img src="asset/assets/logo/favicon.png" alt="" width="100"></a>
                        </div>
                        <!-- Heading -->
                        <h1 class="text-center mb-1">
                            Send Email
                        </h1>
                        <!-- Form -->
                        {{if .Messege}}
                        <div class="alert alert-success alert-block">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <strong>{{.Messege}}</strong>
                        </div>
                        {{end}}
                        <form method="post" action="/send-email-process">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input class="form-control" value="{{.Email}}" name="Email" type="email" placeholder="Enter Email Address">
                                <small class="text-danger">{{.Error.Email}}</small>
                            </div>
                            <button type="submit" class="btn btn-dark">Send Email</button><br><br>
                            Back to <a href="/login" class="text-primary">Login</a>
                        </form>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div>
    </section>
    <!--hero section end-->
    <!--hero section end-->

</div>
<!--body content wrap end-->

<!--bottom to top button start-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="ti-angle-up"></span>
</button>
<!--bottom to top button end-->

<!--jQuery-->
<script src="asset/assets/user/js/jquery-3.5.0.min.js"></script>
<!--Popper js-->
<script src="asset/assets/user/js/popper.min.js"></script>
<!--Bootstrap js-->
<script src="asset/assets/user/js/bootstrap.min.js"></script>
<!--Magnific popup js-->
<script src="asset/assets/user/js/jquery.magnific-popup.min.js"></script>
<!--jquery easing js-->
<script src="asset/assets/user/js/jquery.easing.min.js"></script>
<!--jquery ytplayer js-->
<script src="asset/assets/user/js/jquery.mb.YTPlayer.min.js"></script>
<!--Isotope filter js-->
<script src="asset/assets/user/js/mixitup.min.js"></script>
<!--wow js-->
<script src="asset/assets/user/js/wow.min.js"></script>
<!--owl carousel js-->
<script src="asset/assets/user/js/owl.carousel.min.js"></script>
<!--countdown js-->
<script src="asset/assets/user/js/jquery.countdown.min.js"></script>
<!--jquery easypiechart-->
<script src="asset/assets/user/js/jquery.easy-pie-chart.js"></script>
<!--custom js-->
<script src="asset/assets/user/js/scripts.js"></script>
</body>
</html>